{% extends "base.html" %}
{% block imports %}
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
{% endblock %}

{% block title %}
Buscar Venta
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Buscar Venta</h3>
                <form action="." method="post" enctype="multipart/form-data"> 
                <ul>
                {% load widget_tweaks %}
                {% csrf_token %}
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        
                    </div>
                        
                    <button class="btn btn-success" data-toggle="modal" data-target="">Buscar Venta</button>


                </ul>
                </form>
 
            </div>
        </div>
    </div>  
{% endblock %}
{% block footer %}

{% endblock %}